{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">{{project.name}} project</a></li>
                <li class="active">Recent issues</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Recent Issues</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <table id="product-list" style="width: 100%;" class="table table-hover dt-responsive nowrap dataTable no-footer dtr-inline" >
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" rowspan="1" colspan="1" >Timestamp</th>
                            <th class="sorting" rowspan="1" colspan="1"  >Message</th>
                            <th class="text-right sorting" rowspan="1" colspan="1" >Browser</th>
                            <th class="text-center sorting_disabled" rowspan="1" colspan="1">Resolved</th></tr>
                    </thead>
                    <tbody>
                        {% for error in errors %}
                        <tr role="row" class="odd">
                            <td class="sorting_1">{{error.timestamp}}</td>
                            <td>
                                <a href="{% url 'project_issue_detail' project.id error.id %}">{{error.data.message}}</a>
                            </td>
                            <td class="text-right">{{error.data.browser}}</td>
                            <td class="text-center">
                              <div role="group" class="btn-group btn-group-sm">
                                {% if error.resolved %}
                                    <i class="ti-eye text-success"></i>
                                {% else %}
                                    <i class="ti-heart-broken text-danger"></i>
                                {% endif %}
                              </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}
