{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">{{project.name}} project</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-heading clearfix">
                    <h3 class="widget-title pull-left">
                        <i class="ti-bar-chart"></i> Issues per url
                    </h3>
                    <ul class="widget-tools pull-right list-inline">
                        <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                    </ul>
                </div>
                <div class="widget-body">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="widget">
                <div class="widget-heading clearfix">
                    <h3 class="widget-title pull-left">
                        <i class="ti-pie-chart"></i> Issues per browsers
                    </h3>
                    <ul class="widget-tools pull-right list-inline">
                        <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                    </ul>
                </div>
                <div class="widget-body">
                    <div id="piechart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">
                    <i class="ti-time"></i> Recent issues
                </h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="widget no-border">
                    <ul class="activity-list list-unstyled mb-0">
                        {% for error in errors %}
                        <li class="activity-danger">
                            <a href="{% url 'project_issue_detail' project.id error.id%}">
                                <div class="media">
                                    <div class="media-left">
                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-30 fw-500">
                                            {{error.timestamp_to_hour}}
                                            <span class="fs-14 text-muted">{{error.pm_or_am}}</span>
                                        </time>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">{{error.data.message}}</h5>
                                        <p class="text-muted">{{error.data.url}}:{{error.data.line}}</p>
                                    </div>
                                </div>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock content %}

{% block extrajs %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawMultSeries);

        function drawMultSeries() {
              var data = google.visualization.arrayToDataTable([
                ['URL', 'Resolved', 'Unresolved'],
               {% for url, errors in chart_urls.items %}
                    ['{{url}}', {{errors.resolved}}, {{errors.unresolved}}]
                 {% endfor%}
              ]);

              var options = {
                chartArea: {width: '50%'},
                hAxis: {
                  title: 'Total issues',
                  minValue: 0
                }
                
              };

              var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
              chart.draw(data, options);
            }

            // Circle chart
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

              function drawChart() {

                var data = google.visualization.arrayToDataTable([
                  ['Task', 'Issues per browser'],
                 {% for browser, errors in chart_browser.items %}
                    ['{{browser}}', {{errors}}]
                 {% endfor%}
                ]);

                var options = {
                  title: 'Top browsers'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
              }
  </script>
{% endblock extrajs %}