{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">Select Webmobile 2.0 project</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Monthly Issues</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div id="chart_div" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Recent issues</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="widget no-border">
                    <ul class="activity-list list-unstyled mb-0">
                        {% for error in errors %}
                        <li class="activity-danger">
                            <a href="{% url 'project_issue_detail' project error.id%}">
                                <div class="media">
                                    <div class="media-left">
                                        <time datetime="2015-12-10T20:50:48+07:00" class="fs-30 fw-500">
                                            {{error.timestamp_to_hour}}
                                            <span class="fs-14 text-muted">{{error.pm_or_am}}</span>
                                        </time>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">{{error.data.message}}</h5>
                                        <p class="text-muted">{{error.data.url}}:{{error.data.line}}</p>
                                    </div>
                                </div>
                            </a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Monthly Issues</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Issues');

      data.addRows([
        [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
        [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
        [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
        [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
        [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
        [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
        [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
        [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
        [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
        [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
        [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
        [66, 70], [67, 72], [68, 75], [69, 80]
      ]);

      var options = {
        hAxis: {
          title: 'Days'
        },
        vAxis: {
          title: 'Issues'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }


    // Circle chart
     google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Issues per browser'],
          ['Android',     11],
          ['Safari',      2],
          ['IE',  2],
          ['Opera', 2],
        ]);

        var options = {
          title: 'Top browsers'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
  </script>
{% endblock extrajs %}