{% extends 'base.html' %}

{% load time %}
{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">{{project.name}} project</a></li>
                <li class="active">Issue detail</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<pre>{% if error.data.stack %}{{error.data.stack}} {% else %} {{error.data.message}}{% endif %}</pre>
<div class="row">
    <div class="col-md-7">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Stack Timeline ({{error.data.entry}})</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="page-content container-fluid">
                     <ul class="timeline list-unstyled mb-0">
                    {% if error.data.visitor %}
                        {% include 'project/_visitor_track.html' %}
                    {% else %}
                        {% include 'project/_console_track.html' %}
                    {% endif %}
                     </ul>
                 </div>
            </div>
        </div>
    </div>

    <!-- General information-->
    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">General information</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li>
                        <a href="javascript:;" class="widget-collapse">
                            <i class="ti-angle-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left"><strong>URL</strong></td>
                            <td class="right">{{error.data.url}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>File</strong></td>
                            <td class="right">{{error.data.file}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Line</strong></td>
                            <td class="right">{{error.data.line}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Column</strong></td>
                            <td class="right">{{error.data.column}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Timestamp</strong></td>
                            <td class="right">{{error.timestamp}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Time On Page</strong></td>
                            <td class="right">{{error.data.environment.age}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Visitor time</strong></td>
                            <td class="right"><strong>{{error.data.timestamp}}</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Browser</strong></td>
                            <td class="right"><strong>{{error.browser}}</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Operative system</strong></td>
                            <td class="right"><strong>{{error.os}}</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>IP</strong></td>
                            <td class="right"><strong>80.24.20.99</strong></td>
                        <tr>
                            <td class="left"><strong>Viewport</strong></td>
                            <td class="right"><strong>{{error.data.environment.viewportWidth}}x{{error.data.environment.viewportHeight}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <!-- Custom data -->
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Custom data</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        {% for metadata in error.data.metadata %}
                        <tr>
                            <td class="left"><strong>{{metadata.key}}</strong></td>
                            <td class="right">{{metadata.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Custom data -->
    <!-- Libraries -->
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Libraries</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        {% for dependencie, version in error.data.environment.dependencies.items %}
                        <tr>
                            <td class="left"><strong>{{dependencie}}</strong></td>
                            <td class="right">{{version}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Libraries -->
    <!-- Network -->
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Network</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                {% for network in error.data.network %}
                    <div class="panel panel-{% ifequal network.statusCode 200 %}success{% else %}danger{% endifequal %} mb-0">
                         <div class="panel-heading">
                         {{network.url}}
                         </div>
                         <div class="panel-body">
                             <div class="row">
                            <div class="col-md-6">
                                 <h5 class="media-heading">Completed on</h5>
                                 <p class="text-muted">{{network.completedOn}}</p>
                             </div>
                             <div class="col-md-6">
                                 <h5 class="media-heading">Method</h5>
                                 <p class="text-muted">{{network.method}}</p>
                             </div>

                             <div class="col-md-6">
                                 <h5 class="media-heading">Status code</h5>
                                 <p class="text-muted">{{network.statusCode}}</p>
                             </div>
                             <div class="col-md-6">
                                 <h5 class="media-heading">Status text</h5>
                                 <p class="text-muted">{{network.statusText}}</p>
                             </div>
                             <div class="col-md-6">
                                 <h5 class="media-heading">Started on</h5>
                                 <p class="text-muted">{{network.startedOn}}</p>
                             </div>

                             </div>
                         </div>
                     </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Network -->
    </div>
    <!-- General information -->

</div>
{% endblock content %}
