{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">Select Webmobile 2.0 project</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Stack Timeline</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="page-content container-fluid">
                     <ul class="timeline list-unstyled mb-0">
                         <li class="timeline-item">
                             <div class="timeline-time">
                                 <div class="fs-30 fw-500 text-success">20:16</div>
                                 <p>1.4 sec</p>
                             </div>
                             <i class="ti-announcement timeline-icon bg-success"></i>
                             <div class="timeline-content">
                                 <div class="panel panel-success mb-0">
                                     <div class="panel-heading">User input</div>
                                     <div class="panel-body">
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <h5 class="media-heading">Element</h5>
                                                 <p class="text-muted">input text</p>
                                             </div>

                                             <div class="col-md-6">
                                                 <h5 class="media-heading">Value</h5>
                                                 <p class="text-muted">sdf</p>
                                             </div>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </li>
                     </ul>
                 </div>
            </div>
        </div>
    </div>

    <!-- General information-->
    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">General information</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li>
                        <a href="javascript:;" class="widget-collapse">
                            <i class="ti-angle-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left"><strong>URL</strong></td>
                            <td class="right">{{error.data.url}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Timestamp</strong></td>
                            <td class="right">{{error.timestamp}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Time On Page</strong></td>
                            <td class="right">{{error.data.environment.age}}</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Visitor time</strong></td>
                            <td class="right"><strong>{{error.data.timestamp}}</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Browser</strong></td>
                            <td class="right"><strong>Chrome</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>Operative system</strong></td>
                            <td class="right"><strong>Linux</strong></td>
                        </tr>
                        <tr>
                            <td class="left"><strong>IP</strong></td>
                            <td class="right"><strong>80.24.20.99</strong></td>
                        <tr>
                            <td class="left"><strong>Viewport</strong></td>
                            <td class="right"><strong>{{error.data.environment.viewportWidth}}x{{error.data.environment.viewportHeight}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- General information -->
    <!-- Custom data -->
        <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Custom data</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left"><strong>Region</strong></td>
                            <td class="right">US-OEST</td>
                        </tr>
                        <tr>
                            <td class="left"><strong>custom type</strong></td>
                            <td class="right">guest</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Custom data -->
    <!-- Libraries -->
    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Libraries</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left"><strong>FoozleJS</strong></td>
                            <td class="right">1.0.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Libraries -->
</div>
{% endblock content %}
