{% extends 'base.html' %}
{% load time %}


{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Dashboard</h4>
            <ol class="breadcrumb mb-0">
                <li><a href="#">Login</a></li>
                <li><a href="#">{{project.name}} project</a></li>
                <li class="active">URL</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}

<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-heading clearfix">
                    <h3 class="widget-title pull-left">Issues per day</h3>
                    <ul class="widget-tools pull-right list-inline">
                        <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                    </ul>
                </div>
                <div class="widget-body">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="widget">
                <div class="widget-heading clearfix">
                    <h3 class="widget-title pull-left">Errors</h3>
                    <ul class="widget-tools pull-right list-inline">
                        <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                    </ul>
                </div>
                <div class="widget-body">
                    <table id="product-list" style="width: 100%;" class="table table-hover dt-responsive nowrap dataTable no-footer dtr-inline" >
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" rowspan="1" colspan="1" >Timestamp</th>
                                <th class="sorting" rowspan="1" colspan="1"  >Message</th>
                                <th class="text-center sorting_disabled" rowspan="1" colspan="1">Resolved</th></tr>
                        </thead>
                        <tbody>
                            {% for error in errors %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{error.timestamp|date}} {{error.timestamp|timestamp_hour}}</td>
                                <td>
                                    <a href="{% url 'project_issue_detail' project.id error.id %}">{{error.data.message}}</a>
                                </td>
                                <td class="text-center">
                                  <div role="group" class="btn-group btn-group-sm">
                                    {% if error.resolved %}
                                        <i class="ti-eye text-success"></i>
                                    {% else %}
                                        <i class="ti-heart-broken text-danger"></i>
                                    {% endif %}
                                  </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">General information</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="widget no-border">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="left"><strong>First Seen</strong></td>
                                <td class="right">{{errors_seen.timestamp__min}}</td>
                            </tr>
                            <tr>
                                <td class="left"><strong>Last Seen</strong></td>
                                <td class="right">{{errors_seen.timestamp__max}}</td>
                            </tr>   
                            <tr>
                                <td class="left"><strong>URL</strong></td>
                                <td class="right">{{url}}</td>
                            </tr>
                            <tr>
                                <td class="left"><strong>Total browsers</strong></td>
                                <td class="right">{{chart_browsers.items|length}}</td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>

        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Top browsers</h3>
                <ul class="widget-tools pull-right list-inline">
                    <li><a href="javascript:;" class="widget-collapse"><i class="ti-angle-up"></i></a></li>
                </ul>
            </div>
            <div class="widget-body">
                <div class="widget no-border">
                     <table class="table">
                        <tbody>
                            {% for browser, errors in chart_browsers.items %}
                            <tr>
                                <td class="left"><strong>{{browser}}</strong></td>
                                <td class="right">{{errors}}</td>
                            </tr>
                           {% endfor %}
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>

    </div>   
</div>
{% endblock content %}


{% block extrajs %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawMultSeries);

        function drawMultSeries() {
            var data = google.visualization.arrayToDataTable([
                ['Day', 'Errors'],
               {% for timestamp, values in chart_urls.items %}
                    ['{{timestamp}}', {{values.errors}}]
                 {% endfor%}
              ]);

              var options = {
                chartArea: {width: '50%'},
                hAxis: {
                  title: 'Total issues',
                  minValue: 0
                }
                
              };

              var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
              chart.draw(data, options);
            }

  </script>
{% endblock extrajs %}