{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="page-header clearfix">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mt-0 mb-5">Projects</h4>
            <p class="text-muted mb-0">Select a project</p>
            <!--<h4 class="mt-0 mb-5">Dashboard</h4>-->
            <!--<ol class="breadcrumb mb-0">-->
                <!--<li><a href="#">Login</a></li>-->
                <!--<li class="active">Dashboard</li>-->
            <!--</ol>-->
        </div>
    </div>
</div>
{% endblock breadcrumbs%}

{% block content %}
<div class="col-md-3 col-sm-6">
    <div class="widget text-center">
        <a href="{% url 'project_home' id_test %}">
            <div class="widget-body">
                <div class="fs-36 fw-600 mb-20 counter">Webmobile 2.0</div>
                <div id="esp-comment" data-percent="75"  class="easy-pie-chart fs-36">
                    <i class="ti-comment-alt text-muted"></i>
                    <canvas height="140" width="140"></canvas>
                </div>
                <div class="clearfix mt-20">
                    <div class="pull-left">
                        <div class="fs-12">Resolved issues</div>
                        <div class="text-success">5</div>
                    </div>
                    <div class="pull-right">
                        <div class="fs-12">Unresolved Issues</div>
                        <div class="text-danger">3</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}